@import "../../../scss/variable";

.topbar {
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0rem;
    &-search {
      display: flex;
      align-items: center;
      & > input {
        margin-left: -3rem;
        background-color: #00cbfe5f;
        border: none;
        // padding: 1rem 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 4rem;
        border-radius: 3rem;
        width: 350px;
        &::-webkit-input-placeholder {
          color: $gray;
        }
        &::placeholder {
          color: $gray;
        }
      }
    }
    &-profile {
      & > img {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
      }
    }
  }
}
