@import "../../scss/variable";
@import "../../scss/mixins";

.loginlayout {
  &-container {
    display: flex;
    align-items: center;
    &-content {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include respond(tab-port) {
        width: 100%;
      }
      &-form {
        width: 38.9rem;
        padding: 3rem;
        @include respond(phone) {
          width: 70%;
          margin: auto;
        }
      }
    }
    &-image {
      width: 50%;
      background-color: $secondry-light;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      //   margin: 10rem 0rem;
      @include respond(tab-port) {
        display: none;
      }
    }
  }
}
