@import "../../scss/variable";

.aboutitem {
  &-container {
    display: flex;
    align-items: center;
    // justify-content: center;
    justify-content: space-between;

    &-content {
      margin-right: 12rem;
      width: 90rem;
    }

    &-image {
      & > img {
        height: 45rem;
      }
    }
  }
}

.aboutitem-second {
  width: 34.5rem;
  text-align: center;
  & > img {
    height: 24rem;
  }
}
