@import "../../scss/variable";

.siteditor {
  height: 90vh;
  &-header {
    display: flex;
    align-items: center;
    background-color: $secondry;
    overflow-x: hidden;
    // overflow-x: scroll;
    border-radius: 3rem;
    & > * {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

.tabbtn {
  & > button {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background-color: $primary;
    color: red;
    padding: 1.2rem 3.2rem;
    border-radius: 3rem;
    & > * {
      &:first-child {
        margin-right: 0.6rem;
        font-size: 2rem;
      }
    }
  }
}

// General
.generaleditor {
  &-container {
    & > h4 {
      font-size: 2.2rem;
      color: $secondry;
      font-weight: 600;
      margin: 4rem 0rem;
      text-align: center;
    }
    // &-inputs {
    // }
  }
}

// Design

.designeditor {
  &-container {
    & > h4 {
      font-size: 2.2rem;
      color: $secondry;
      font-weight: 600;
      margin: 4rem 0rem;
      text-align: center;
    }
  }
}
