@import "../../../scss/variable";
@import "../../../scss/mixins";

.homemenulist {
  height: 100vh;
  width: 34rem;
  border-right: 1px solid #858585;
  &-menu {
    &-list {
      padding-top: 15.2rem;
      &-link {
        // margin: 5px 0px;
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
        padding-left: 3.5rem;
        &-icon {
          color: $gray;
          margin-right: 2.3rem;
          font-size: 2.8rem;
        }
        &-name {
          color: $gray;
          font-size: 2rem;
          font-weight: 600;
          &::before {
            color: $primary;
          }
        }
      }
    }
  }
}

#menu {
  & > * {
    color: $primary;
  }
}
