@import "../../../../scss/variable";

.domain {
  &-container {
    padding: 0rem 5rem;
    &-border {
      border-bottom: 1.5px solid $secondry;
      margin-bottom: 2.5rem;
    }

    &-top {
      margin-top: 4rem;

      & > h6 {
        font-size: 1.8rem;
        font-weight: 400;
        color: $secondry;
      }
      &-left {
        margin-top: 2.2rem;
        margin-bottom: 0.5rem;
        & > p {
          font-size: 1.6rem;
          color: #667b96;
        }
      }
      &-right {
        & > p {
          font-size: 1.6rem;
          color: #667b96;
          margin-right: 1.8rem;
        }
        & > button {
          background: none;
          border: none;
          color: $primary;
          cursor: pointer;
        }
      }
      //   &-right
    }
    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > div {
        & > h6 {
          font-size: 1.8rem;
          font-weight: 400;
          color: $secondry;
        }
        & > p {
          margin-top: 2.2rem;
          font-size: 1.6rem;
          color: #667b96;
        }
      }
      & > button {
        background-color: $secondry;
        border: none;
        border-radius: 0.6rem;
        padding: 1rem 1.7rem;
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.678);
        cursor: pointer;
      }
    }
  }
}
