@import "../../scss/mixins";

.banner {
  &-container {
    display: flex;
    justify-content: space-between;
    @include respond(tab-port) {
      flex-direction: column;
    }
    &-content {
      margin-top: 18.3rem;
      width: 524px;
      @include respond(tab-port) {
        padding-top: 10rem;
        width: 90%;
        margin: auto;
      }
    }
    &-img {
      height: 684px;
      overflow: hidden;
      @include respond(tab-port) {
        width: 100%;
        height: auto;
        margin-top: 5rem;
      }
      & > img {
        height: 804px;
        @include respond(tab-port) {
          width: 100%;
          height: auto;

          margin: auto;
        }
      }
    }
  }
}
